.outiline-none {
    outline: none !important;
}

:root {
    --primary: #007bff; /* Azul para a cor principal */
    secondary: #233254; /* Cor secundária da sua escolha */
    tertiary: #FBB900; /* Cor terciária da sua escolha */
    
    /* Definindo cores para o texto */
    text-primary: #ffffff; /* Texto branco */
    text-secondary: #000000; /* Texto preto */
    
    /* Background padrão */
    --background-color: #D3D3D3; /* Cinza claro */
    
    /* Definindo a fonte */
    --font-family-primary: 'Verdana', sans-serif;
  }
  
  body {
    font-family: var(--font-family-primary);
    background-color: var(--background-color);
    color: var(text-secondary); /* Define o texto padrão como preto */
  }

  .header {
    border-bottom: 2px solid rgb(229, 229, 229);
  }

  .header .nav-link {
    font-weight: 600;
    color: #555 !important;
    padding: 28px 1.5rem !important;
    border-bottom: 2px solid transparent;
  }

  .header .nav-link:hover {
    border-bottom: 2px solid var(--primary);
  }

  .header .nav-link .icon-lg {
    font-size: 22px;
  }
  

  .header .dropdown:hover > .dropdown-menu {
    display: block;
  }
  
  .header .dropdown-menu {
    box-shadow: rgb(0, 0, 0, 0.08) 0px 4px 16px 0px rgb(0, 0, 0, 0.06) 0px 2px 6px 0px;
    border: 1px solid #eee;
  }

  .header .dropdown-menu .dropdown-item {
    padding: 10px 15px;
    font-weight: 600;
    color: #444;
  }

 .logo-mobile {
  max-height: 50px;
 }

 .menu-mobile  .MuiListItemText-primary{
    font-weight: 600;
    color: #444;
 }

 .menu-mobile  sgv {
  font-size: 22px;
  color: #444;
 }